<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nhibernateSettings"
		    type="ProjectBase.Data.OpenSessionInViewSection, ProjectBase.Data" />
  </configSections>

  <nhibernateSettings>
    <!-- List every session factory that will be needed; transaction management and closing sessions 
		will be managed with the open-session-in-view module -->
    <sessionFactories>
      <clearFactories />
      <sessionFactory name="northwind" factoryConfigPath="C:\My Stuff\Dev\RandD\NHibernate\Article\Edition1.2\EnterpriseSample\EnterpriseSample.Web\Config\NorthwindNHibernate.config" isTransactional="true" />
    </sessionFactories>
  </nhibernateSettings>
</configuration>
