<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory>
		<property name="connection.provider">
      NHibernate.Connection.DriverConnectionProvider
		</property>
		<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
		<property name="show_sql">true</property>
		<property name="use_proxy_validator">false</property>
		<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
		<property name="connection.connection_string">
			Server=127.0.0.1;Initial Catalog=futureviewecom;User Id=futureviewecom;Password=futureviewecom;
		</property>
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Contact.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Email.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Phone.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\FixedPhone.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Fax.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Mobile.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Address.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Billing.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Shipping.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\CustomerAddress.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Customer.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\IndividualCustomer.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\BusinessCustomer.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\LastPassword.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Sku.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\OrderHeader.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\OrderItem.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\Category.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\CategorySku.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\RuntimeAuthorization.hbm.xml" />
		<mapping file="D:\DSTS\Personal\my.life\ISEL\3 Ano\PS\Src\FutureView.ECom\FutureView.ECom.Entity\Domain\RuntimeAuthorizationUser.hbm.xml" />
	</session-factory>
</hibernate-configuration>